@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
*{
    margin: 0;
    padding: 0;
}
.m-f{
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
}

body{
    background-image: url(../images/back-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.container{
    width: 70%;
    margin: 0 auto;
    line-height: 50px;
}
.header{
    height: 100vh;
    color: #ffffff;
}
.header-content{
    padding-top:40vh ;
    text-align: center;
}
.header-content h1, .intro-content h1,.contact-section h1 {
    font-size: 42px;
}
.header-content h2 span{
    color: #f1c11a;
    line-height: 100px;
}
.btn{
    background-color: transparent;
    border: 3px solid #ffffff;
    padding: 15px 35px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    transition: all 400ms ease-in-out;
}
.btn-fill{
    background-color: #ffffff;
    color: #000000;
}
.btn-fill:hover{
    background-color: #f1c11a;
    border-color: transparent;
}
.btn-trans:hover{
    background-color: #f1c11a;
    color: #000000;
    border-color: transparent;
}
.intro{
    background-color: #ffffff;
    padding: 10vh 0;
}
.intro-content{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.intro-content div{
    width: 50%;
}
.intro-text p{
    text-align: justify;
    color: #828282;
    line-height: 40px;
}
.services{
    background-color:#f1c11a ;
    height: 50vh;
    clip-path: polygon(0 0,15% 0,50% 20%,85% 0,100% 0,100% 100%,0 100%,0 0);
    margin-top: -15vh;
}
.service-content{
    display: flex;
    flex-wrap: wrap;

}
.bucket{
    width: 25%;
    margin: 130px 4% ;
    color: #ffffff;
}
.bucket p{
    color: #000000;
    text-align: justify;
    line-height: 25px;
}
.contact{
    background-color: #ffffff;
    padding:10vh 0;
    text-align: center;

}
input[type='text'],input[type='email'],textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;

}
.contact-section div{
    padding: 10px 3%;
}
.btn-submit{
    background-color: #000000;
    color: #ffffff;
}
.btn-submit:hover{
    background-color: #f1c11a;
    border-color: transparent;
    color: black;

}
footer{
    background-color:#f1c11a ;
    clip-path: polygon(0 0,15% 0,50% 20%,85% 0,100% 0,100% 100%,0 100%,0 0);
    margin-top: -10vh;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 30px;
}
@media screen and (max-width:768px){
    .header-content h2{
        font-size: 20px;
    }
    .intro-content{
        display: block; 
        height: 90vh;  
    }

    .intro-content div{
        width: 100%;
    }
    .services{
        height: 100vh;
        clip-path: polygon(0 0,15% 0,50% 5%,85% 0,100% 0,100% 100%,0 100%,0 0);
    }
    .service-content{
        display: block;
        margin-top:-15vh;
        padding-top: 1px;
    }
    .bucket{
        width: 100%;
        margin: 80px 3%;
    }
}
@media screen and (max-width:687px){
    .header-content h2{
        font-size: 13px;
    }
}
@media screen and (max-width:611px){
    .bucket{
        margin: 50px 3%;
    }
    .header-content h1, .intro-content h1,.contact-section h1 {
        font-size: 35px;
    }
    .bucket{
        line-height: 23px;
        margin-top: 55px;
    }
}
@media screen and (max-width:477px){
    .bucket{
        margin: 45px 3%;
    }
    .btn{
        padding: 10px 20px;
    }
    .header-content h2{
        font-size: 10px;
    }
    .header-content h1, .intro-content h1,.contact-section h1 {
        font-size: 30px;
    }
}
@media screen and (max-width:430px){
    .services{
        height: 100vh;
    }
    .btn{
        padding: 5px 10px;
    }
}
@media screen and (max-width:430px){
    .services{
        height: 120vh;
    }
} 
@media screen and (max-width:335px){
    .header-content h1, .intro-content h1,.contact-section h1 {
        font-size: 20px;
    }
    .header-content h2{
        font-size: 8px;
    }
    .btn{
        padding: 3px 5px;
    }
} 

@media screen and (max-height:827px){
    .services{
        height: 150vh;
        clip-path: polygon(0 0,15% 0,50% 3%,85% 0,100% 0,100% 100%,0 100%,0 0);
    
    }
}
@media screen and (max-height:778px){
    .intro-content{
        height: 100vh; 
    }
    .services{
        height: 160vh;
    }
    .intro-content p{
        line-height: 25px;
    }
   

}
@media screen and (max-height:568px){
    .services{
        height: 180vh;
    }
}

